@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital@1&family=Dancing+Script&family=Josefin+Sans&family=Open+Sans:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Footer styling */

.social-networks {
    height: 120px;
    width: 100%;
    background: #000;
    color: #fff;
}

.social-networks > a {
    color: #fff;
}