@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital@1&family=Dancing+Script&family=Josefin+Sans&family=Open+Sans:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    height: 100vh;
    position: relative;
}

/* Styling header */

header {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 2em;
    background-color: #000;
}


header a {
    color: #fff;
}

header > a :hover {
    color: rgb(28, 187, 28);
}

.nav-links a{
    color: #fff;
}

.nav-links{
    display: flex;
    justify-content: space-between;
    font-size: 26px;
    width: 30vw;
}

.nav-links :hover {
    color: rgb(28, 187, 28);
    border-bottom: 1px solid rgb(28, 187, 28);
}
.active {
    border-bottom: 1px solid #fff;
}

/* Section styling */

.conteiner {
    height: 600px;
    width: 100%;
    display: flex;
}

.image-conteiner {
    overflow: hidden;
    height: 600px;
    width: 50%;
}

.shop-image {
    background: url('../images/women\ in\ flower\ hope.jpg') center center no-repeat;
    height: 600px;
    width: 100%;
    animation-name: section-image;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes section-image {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

.section-text {
    margin: auto;
    font-family: 'Dancing Script', sans-serif;
    font-weight: 500;
    font-size: 3em;
    /* border-bottom: 2px solid rgb(28, 187, 28); */
    text-decoration: underline;
    text-underline-offset: 15px;
    text-decoration-thickness: 2px;
    color: rgb(28, 187, 28);
}

/* Footer styling */

footer {
    height: 120px;
    width: 100%;
    background: #000;
    position: absolute;
}

.footer-content {

    display: flex;
    height: inherit;
    justify-content: center;
    align-items: center;
    gap: 15em;

}

.footer-content i {
    color: #fff;
    font-size: 180%;
}

.footer-content i:hover {
    color: rgb(58, 12, 242);
}

@media screen and (max-width: 1200px) {
    .conteiner>div {
        width: 100%;
        clear: both;
        padding: 0;
        height: 350px;
    }
}